html {
    font-family: sans-serif;
}
  
body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}
.guessSubmit{
    margin-top: 12px;
    background-color: red;
}
body{
    background-color: beige;
    /* background-color: blanchedalmond; */
}